@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
	--branco-principal: #FFFFFF;
	--cinca-secundario: #C0C0C0;
	--botao-azul: #167BF7;
	--cor-de-fundo: #00030C;
	--fonte-principal: 'Inter';
	--botao-azul-efeito:#1364c7;

}

*{
	margin: 0;
	padding: 0;
}
body{
	background-color: var(--cor-de-fundo);
	color: var(--branco-principal);
	font-family: var(--fonte-principal);
	font-size: 16px; 
	font-weight: 400;
	
}

.principal{
	background-image:url(../imagens/background.png);
	background-repeat: no-repeat ;
	background-size: contain ;
	align-items: center;
	text-align: center;
}

.container{
	height: 100vh;
	display: grid;
	grid-template-columns: 50% 50%;
}

.container__caixa{
	margin: 0 6em;
}
.container__titulo{
	font-size: 28px;
	font-weight: 700;
}

.container__imagem{
	margin: 1em 0 2em 0 ;

}

.container__botao { 
	background-color: var(--botao-azul);
	border-radius: 5px;
	padding: 1em;
	color: var(--branco-principal);
	display: block;
	text-decoration: none;
	text-align: center;
	margin-bottom: 1em;

}
.container__botao:hover{
	background-color: var(--botao-azul-efeito);
	color: var(--cor-de-fundo);
	
}

.botao_secundario{
	background-color: transparent;
	border: 2px solid var(--branco-principal) ;

}


.container__aviso{
	font-size: 12px;
	color: var(--cinca-secundario);

}

.secundario{
	align-items: center;
	margin: 0 10em;
}

.secundario__imagem{
	width: 80%;
	
}
.descricao__titulo{
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 0.1em;
	color: var(--branco-principal);
	
}

.descricao__paragrafo{
	font-weight: 400;
	font-size: 16px;
	color: var(--cinca-secundario);
	

}

.secundario__botao{
	display: inline-block;
	margin-top: 1em;
}

.container__descricao{
	padding: 2em;
}

.dispositivos{
	text-align: center;

}

.dispositivos__titulo{
	text-align: center;
	font-size: 48px;

}

.dispositivos__lista{
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 5em 0;

}


.lista__item{
	text-align: center;
	font-size: 32px;
	color: var(--branco-principal);

}

.rodape{
	

}

.rodape__logo{
	
	display: flex;
	justify-content: center;
	margin: 5em 0;

}

.rodape__lista{
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 2em;
}




.lisa__link a{
	font-size: 16px;
	text-decoration: none;
	color: var(--branco-principal);


}

.lisa__link a:hover{
	text-decoration: none;
	color: var(--cinca-secundario);
	
	


}






.rodape__texto{
	text-align: center;
	font-size: 14px;
	margin: 1em 0;
}


@media screen  and (max-width: 768px) {
	.container {
		display: block;
		background-image:none;
	}

	.container__imagem{
		width: 50vh;
	}
	.container__caixa{
		margin: 2em 2em;
	}

	.secundario{
		margin: 0;
		text-align: center;
	}
	.secundario__imagem{
		width: 50vh;
	}

	.dispositivos__lista{
		display: block;
	}

	.rodape__lista{
		display: block;
		text-align: center;
	}



	
}